* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
}

body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVNysv7q39Klrmt5YtdRVrzzcep7qYWXL-EQ&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 30px;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: -1px -4px 4px 12px rgba(41, 3, 3, 0.28);
    -webkit-box-shadow: -1px -4px 4px 12px rgba(41, 3, 3, 0.28);
    -moz-box-shadow: -1px -4px 4px 12px rgba(41, 3, 3, 0.28);
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
}
.transportas {
    margin-top: 0;
}
.transp {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.margin {
    margin-left: 20px;
}

.about {
    margin: 0;
}

.btn {
    text-decoration: none;
    max-width: 200px;
    padding: 15px;
    background-color: red;
    color: white;
    border-radius: 50px;
    border: none;
    align-self: center;
}